### Promotion:
帮我用macos 下的jupyter写一下代码：
第一步：将文件夹'/Users/liuhaoran/PycharmProjects/Faers/data/FAERS_DATA' 下的所有 zip文件解压缩
第二步：递归遍历 文件夹'/Users/liuhaoran/PycharmProjects/Faers/data/FAERS_DATA' 下所有的 文件名包含
 'THER' （不区分大小写）的txt文件，它们都是以$ 分隔了字段的文件，读取后新增一个字段，其名称是 filename, 取值是 该文件名，并将所有结果合并生成一个 dataframe对象，且所有列都转换为 字符串类型

In [2]:
import zipfile
import pandas as pd
import os

# 定义文件夹路径
folder_path = '/Users/liuhaoran/PycharmProjects/Faers/data/FAERS_DATA'

# 第一步：解压缩所有zip文件
def unzip_files(directory):
    for filename in os.listdir(directory):
        file_path = os.path.join(directory, filename)
        if os.path.isfile(file_path) and filename.endswith('.zip'):
            with zipfile.ZipFile(file_path, 'r') as zip_ref:
                directory_name = os.path.dirname(file_path)
                folder_name = os.path.splitext(os.path.basename(file_path))[0]
                output_folder = os.path.join(directory_name, folder_name)
                # 如果文件夹不存在，创建它
                if not os.path.exists(output_folder):
                    os.makedirs(output_folder)
                else:
                    os.rmdir(output_folder)
                    
                zip_ref.extractall(output_folder)
                print(f"Unzipped {filename}")

# 解压缩文件夹中的所有zip文件
unzip_files(folder_path)

Unzipped faers_ascii_2017Q4.zip
Unzipped faers_ascii_2017Q1.zip
Unzipped faers_ascii_2017Q2.zip
Unzipped faers_ascii_2017Q3.zip
Unzipped faers_ascii_2019Q1.zip
Unzipped faers_ascii_2024Q1.zip
Unzipped faers_ascii_2020Q4.zip
Unzipped faers_ascii_2022Q4.zip
Unzipped faers_ascii_2019Q2.zip
Unzipped faers_ascii_2019Q3.zip
Unzipped faers_ascii_2020Q3.zip
Unzipped faers_ascii_2022Q1.zip
Unzipped faers_ascii_2020Q2.zip
Unzipped faers_ascii_2022Q2.zip
Unzipped faers_ascii_2019Q4.zip
Unzipped faers_ascii_2022Q3.zip
Unzipped faers_ascii_2020Q1.zip
Unzipped faers_ascii_2023Q4.zip
Unzipped faers_ascii_2018Q2.zip
Unzipped faers_ascii_2018Q3.zip
Unzipped faers_ascii_2018Q1.zip
Unzipped faers_ascii_2021Q4.zip
Unzipped faers_ascii_2023Q2.zip
Unzipped faers_ascii_2018Q4.zip
Unzipped faers_ascii_2021Q1.zip
Unzipped faers_ascii_2023Q3.zip
Unzipped faers_ascii_2023Q1.zip
Unzipped faers_ascii_2021Q3.zip
Unzipped faers_ascii_2021Q2.zip
          primaryid    caseid dsg_drug_seq  start_dt    end_dt  dur dur_cod  \
0         100052112  10005211            1      2013       NaN  NaN     NaN
1         100052112  10005211            3  20130612       NaN  NaN     NaN
2         100052112  10005211            4      2013      2013  NaN     NaN
3         100052112  10005211            5      2013       NaN  NaN     NaN
4         100062493  10006249            1  20120105  20120109  NaN     NaN
...             ...       ...          ...       ...       ...  ...     ...
18968330  999913119   9999131            7  20130326       NaN  NaN     NaN
18968331  999913119   9999131            8  20131030       NaN  NaN     NaN
18968332  999913119   9999131            9  20130121       NaN  NaN     NaN
18968333  999913119   9999131           11  20100604  20130326  NaN     NaN
18968334  999913119   9999131           12  20090930  20121023  NaN     NaN

              filename
0         THER17Q2.txt
1         THER17Q2.txt
2         THER17Q2.txt
3         THER17Q2.txt
4         THER17Q2.txt
...                ...
18968330  THER21Q1.txt
18968331  THER21Q1.txt
18968332  THER21Q1.txt
18968333  THER21Q1.txt
18968334  THER21Q1.txt

[18968335 rows x 8 columns]

In [5]:
import os
import pandas as pd
# 第二步：递归遍历文件夹，读取并合并txt文件
folder_path = '/Users/liuhaoran/PycharmProjects/Faers/data/FAERS_DATA'

def read_and_combine_files(directory):
    dataframes = []
    for root, dirs, files in os.walk(directory):
        for filename in files:
            if filename.lower().endswith('.txt') and 'ther' in filename.lower():
                file_path = os.path.join(root, filename)
                df = pd.read_csv(file_path, sep='$', dtype=str)
                # 新增一个字段filename，值为文件名
                df['filename'] = filename
                dataframes.append(df)
    return dataframes

# 读取并合并所有符合条件的txt文件
dataframes = read_and_combine_files(folder_path)
combined_df = pd.concat(dataframes, ignore_index=True)

In [6]:
# 显示合并后的DataFrame
len(combined_df)

18968335

### Promotion:
给定一个dataframe 对象 combined_df, 各列为， 遍历每一行执行以下操作生成一个新的dataframe 对象，名为 cleaned_df
如果 start_dt 为空或者null, 则 填充为 '19700101'，
如果 start_dt 长度为6位数, 则 在尾部填充01
如果 start_dt 长度为4位数, 则 在尾部填充'0101'

In [7]:
import pandas as pd

# 假设 combined_df 是已经存在的 DataFrame
# combined_df = pd.read_csv('your_file.csv')  # 例如从文件读取

# 定义一个函数来处理 start_dt 列
def process_start_dt(start_dt):
    if pd.isnull(start_dt) or start_dt == '':
        return '19700101'
    elif len(start_dt) == 6:
        return start_dt + '01'
    elif len(start_dt) == 4:
        return start_dt + '0101'
    else:
        return start_dt

# 应用这个函数到 start_dt 列
combined_df['start_dt'] = combined_df['start_dt'].apply(process_start_dt)

# 显示处理后的 DataFrame
combined_df.head()

,primaryid,caseid,dsg_drug_seq,start_dt,end_dt,dur,dur_cod,filename
0,100052112,10005211,1,20130101,NaN,NaN,NaN,THER17Q2.txt
1,100052112,10005211,3,20130612,NaN,NaN,NaN,THER17Q2.txt
2,100052112,10005211,4,20130101,2013,NaN,NaN,THER17Q2.txt
3,100052112,10005211,5,20130101,NaN,NaN,NaN,THER17Q2.txt
4,100062493,10006249,1,20120105,20120109,NaN,NaN,THER17Q2.txt

In [10]:
folder_path = '/Users/liuhaoran/PycharmProjects/Faers/data/'
combined_df.to_csv(folder_path + 'combined_df.csv', index=False);

In [11]:
max_start_dt = combined_df.groupby(['primaryid', 'caseid', 'dsg_drug_seq']).agg({'start_dt': 'max'})
max_start_dt.head()

                                 start_dt
primaryid caseid   dsg_drug_seq
100035813 10003581 1             20130101
                   2             19700101
100035916 10003591 1             20130718
100036473 10003647 1             20130529
                   5             19700101

### promotion
给定一个dataframe对象 combined_df, 计算primaryid, caseid,dsg_drug_seq 为key的情况下 的 最大的start_dt

In [ ]:
drop table therapy;
CREATE TABLE therapy (
    primaryid BIGINT NOT NULL,
    caseid BIGINT NOT NULL,
    dsg_drug_seq INT NOT NULL,
    start_dt VARCHAR(255),
    end_dt VARCHAR(255),
    dur VARCHAR(255),
    dur_cod VARCHAR(255),
    filename VARCHAR(255)
);


LOAD DATA INFILE '/Users/liuhaoran/PycharmProjects/Faers/data/combined_df.csv'
INTO TABLE therapy
FIELDS TERMINATED BY ','  -- 假设CSV文件使用逗号分隔
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS  -- 如果CSV文件有标题行，则忽略第一行
;